<!DOCTYPE html>
<html>
  <head>
    <title>Boxlate</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>

  </head>
  <body>
    
    <input type="text" placeholder="Your box id">
    <input type="password" placeholder="Your passeword">
    <button class="btn btn-primary" type="button">Default button</button>

    <select name="metro1" id="metro1" value="" >
		<option value="" disabled selected style='display:none;'>Ligne 1</option>
		<option value="La Défense – Grande Arche">La Défense – Grande Arche	 </option>
		<option value="Esplanade de la Défense">Esplanade de la Défense</option>
		<option value="Pont de Neuilly">Pont de Neuilly</option>
		<option value="Les Sablons">Les Sablons</option>
		<option value="Porte Maillot">Porte Maillot	</option>
		<option value="Argentine">Argentine</option>
		<option value="Charles de Gaulle – Étoile	">Charles de Gaulle – Étoile	 </option>
		<option value="George V">George V</option>
		<option value="Franklin D. Roosevelt">Franklin D. Roosevelt	</option>
		<option value="Champs-Élysées – Clemenceau">Champs-Élysées – Clemenceau	</option>
		<option value="Concorde">Concorde	</option>
		<option value="Tuileries">Tuileries</option>
		<option value="Palais Royal – Musée du Louvre">Palais Royal – Musée du Louvre	</option>
		<option value="Louvre – Rivoli">Louvre – Rivoli</option>
		<option value="Châtelet ">Châtelet  </option>
		<option value="Hôtel de Ville">Hôtel de Ville	</option>
		<option value="Saint-Paul">Saint-Paul</option>
		<option value="Bastille Bassin de l'Arsenal">Bastille Bassin de l'Arsenal	</option>
		<option value="Gare de Lyon	">Gare de Lyon	 </option>
		<option value="Reuilly – Diderot">Reuilly – Diderot	</option>
		<option value="Nation ">Nation	 </option>
		<option value="Porte de Vincennes">Porte de Vincennes	</option>
		<option value="Saint-Mandé">Saint-Mandé</option>
		<option value="Bérault">Bérault</option>
		<option value="Château de Vincennes">Château de Vincennes</option>
	</select>



  </body>
</html>