<!DOCTYPE html>
<html>
  <head>
    <title>Boxlate</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chosen.css' />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="/javascripts/chosen.min.js"></script>
    <script src="/javascripts/script.js"></script>

  </head>
  <body>
    <div id="login-form">
      <form class="form-inline">
        <input type="text" class="input-small" placeholder="Your box id">
        <input type="password" class="input" placeholder="Your password">
        <button type="submit" class="btn">Sign in</button>
      </form>
    </div>

    <div id="main">
        <form action="getJSON" class="form-inline" id="select-stops">
          <select name="metro" id="metro" class="chzn-select" data-placeholder="Select stop(s)" style="width:350px;" >
            <optgroup label="Ligne 1">
              <option class="line1" value="M1--La Défense – Grande Arche">La Défense – Grande Arche</option>
              <option value="M1--Esplanade de la Défense">Esplanade de la Défense</option>
              <option value="M1--Pont de Neuilly">Pont de Neuilly</option>
              <option value="M1--Les Sablons">Les Sablons</option>
              <option value="M1--Porte Maillot">Porte Maillot  </option>
              <option value="M1--Argentine">Argentine</option>
              <option value="M1--Charles de Gaulle – Étoile  ">Charles de Gaulle – Étoile</option>
              <option value="M1--George V">George V</option>
              <option value="M1--Franklin D. Roosevelt">Franklin D. Roosevelt</option>
              <option value="M1--Champs-Élysées – Clemenceau">Champs-Élysées – Clemenceau</option>
              <option value="M1--Concorde">Concorde  </option>
              <option value="M1--Tuileries">Tuileries</option>
              <option value="M1--Palais Royal – Musée du Louvre">Palais Royal – Musée du Louvre  </option>
              <option value="M1--Louvre – Rivoli">Louvre – Rivoli</option>
              <option value="M1--Châtelet ">Châtelet  </option>
              <option value="M1--Hôtel de Ville">Hôtel de Ville  </option>
              <option value="M1--Saint-Paul">Saint-Paul</option>
              <option value="M1--Bastille Bassin de l'Arsenal">Bastille Bassin de l'Arsenal  </option>
              <option value="M1--Gare de Lyon  ">Gare de Lyon   </option>
              <option value="M1--Reuilly – Diderot">Reuilly – Diderot  </option>
              <option value="M1--Nation ">Nation   </option>
              <option value="M1--Porte de Vincennes">Porte de Vincennes  </option>
              <option value="M1--Saint-Mandé">Saint-Mandé</option>
              <option value="M1--Bérault">Bérault</option>
              <option value="M1--Château de Vincennes">Château de Vincennes</option>
            </optgroup>

            <optgroup label="Ligne 2">
              <option value="M2--Porte Dauphine">Porte Dauphine </option>
              <option value="M2--Victor Hugo">Victor Hugo</option>
              <option value="M2--Charles de Gaulle - Étoile">Charles de Gaulle - Étoile  </option>
              <option value="M2--Ternes">Ternes</option>
              <option value="M2--Courcelles">Courcelles</option>
              <option value="M2--Monceau">Monceau</option>
              <option value="M2--Villiers">Villiers </option>
              <option value="M2--Rome">Rome</option>
              <option value="M2--Place de Clichy">Place de Clichy </option>
              <option value="M2--Blanche">Blanche</option>
              <option value="M2--Pigalle">Pigalle </option>
              <option value="M2--Anvers">Anvers</option>
              <option value="M2--Barbès – Rochechouart">Barbès – Rochechouart </option>
              <option value="M2--La Chapelle">La Chapelle  </option>
              <option value="M2--Stalingrad">Stalingrad </option>
              <option value="M2--Jaurès">Jaurès </option>
              <option value="M2--Colonel Fabien">Colonel Fabien</option>
              <option value="M2--Belleville">Belleville </option>
              <option value="M2--Couronnes">Couronnes</option>
              <option value="M2--Ménilmontant">Ménilmontant</option>
              <option value="M2--Père Lachaise">Père Lachaise </option>
              <option value="M2--Philippe Auguste">Philippe Auguste</option>
              <option value="M2--Alexandre Dumas">Alexandre Dumas</option>
              <option value="M2--Avron">Avron</option>
              <option value="M2--Nation">Nation  </option>
            </optgroup>

            <optgroup label="Ligne 3">
              <option value="M3--Pont de Levallois — Bécon">Pont de Levallois — Bécon</option>
              <option value="M3--Anatole France">Anatole France</option>
              <option value="M3--Louise Michel">Louise Michel</option>
              <option value="M3--Porte de Champerret">Porte de Champerret</option>
              <option value="M3--Pereire">Pereire </option>
              <option value="M3--Wagram">Wagram</option>
              <option value="M3--Malesherbes">Malesherbes</option>
              <option value="M3--Villiers">Villiers </option>
              <option value="M3--Europe">Europe</option>
              <option value="M3--Saint-Lazare">Saint-Lazare  </option>
              <option value="M3--Havre — Caumartin">Havre — Caumartin  </option>
              <option value="M3--Opéra">Opéra  </option>
              <option value="M3--Quatre-Septembre">Quatre-Septembre</option>
              <option value="M3--Bourse">Bourse</option>
              <option value="M3--Sentier">Sentier</option>
              <option value="M3--Réaumur — Sébastopol">Réaumur — Sébastopol </option>
              <option value="M3--Arts et Métiers">Arts et Métiers </option>
              <option value="M3--Temple">Temple</option>
              <option value="M3--République">République </option>
              <option value="M3--Parmentier">Parmentier</option>
              <option value="M3--Rue Saint-Maur">Rue Saint-Maur</option>
              <option value="M3--Père Lachaise">Père Lachaise </option>
              <option value="M3--Gambetta">Gambetta </option>
              <option value="M3--Porte de Bagnolet">Porte de Bagnolet </option>
              <option value="M3--Gallieni">Gallieni</option>
            </optgroup>

            <optgroup label="Ligne 3 Bis">
              <option value="M3B--Gambetta">Gambetta</option>
              <option value="M3B--Pelleport">Pelleport</option>
              <option value="M3B--Saint-Fargeau">Saint-Fargeau</option>
              <option value="M3B--Porte des Lilas">Porte des Lilas</option>
            </optgroup>

            <optgroup label="Ligne 4">
              <option value="M4--Porte de Clignancourt">Porte de Clignancourt</option>
              <option value="M4--Simplon">Simplon</option>
              <option value="M4--Marcadet — Poissonniers">Marcadet — Poissonniers </option>
              <option value="M4--Château Rouge">Château Rouge</option>
              <option value="M4--Barbès — Rochechouart">Barbès — Rochechouart </option>
              <option value="M4--Gare du Nord">Gare du Nord  </option>
              <option value="M4--Gare de l'Est">Gare de l'Est </option>
              <option value="M4--Château d'Eau">Château d'Eau</option>
              <option value="M4--Strasbourg — Saint-Denis">Strasbourg — Saint-Denis </option>
              <option value="M4--Réaumur — Sébastopol">Réaumur — Sébastopol </option>
              <option value="M4--Étienne Marcel">Étienne Marcel</option>
              <option value="M4--Les Halles">Les Halles </option>
              <option value="M4--Châtelet">Châtelet </option>
              <option value="M4--Cité">Cité</option>
              <option value="M4--Saint-Michel">Saint-Michel </option>
              <option value="M4--Odéon">Odéon </option>
              <option value="M4--Saint-Germain-des-Prés">Saint-Germain-des-Prés</option>
              <option value="M4--Saint-Sulpice">Saint-Sulpice</option>
              <option value="M4--Saint-Placide">Saint-Placide</option>
              <option value="M4--Montparnasse — Bienvenüe">Montparnasse — Bienvenüe </option>
              <option value="M4--Vavin">Vavin</option>
              <option value="M4--Raspail">Raspail </option>
              <option value="M4--Denfert-Rochereau">Denfert-Rochereau  </option>
              <option value="M4--Mouton-Duvernet">Mouton-Duvernet</option>
              <option value="M4--Alésia">Alésia</option>
              <option value="M4--Porte d'Orléans">Porte d'Orléans</option>
            </optgroup>

            <optgroup label="Ligne 5">
              <option value="M5--Bobigny — Pablo Picasso">Bobigny — Pablo Picasso </option>
              <option value="M5--Bobigny — Pantin — Raymond Queneau">Bobigny — Pantin — Raymond Queneau</option>
              <option value="M5--Église de Pantin">Église de Pantin</option>
              <option value="M5--Hoche">Hoche</option>
              <option value="M5--Porte de Pantin">Porte de Pantin </option>
              <option value="M5--Ourcq">Ourcq</option>
              <option value="M5--Laumière">Laumière</option>
              <option value="M5--Jaurès">Jaurès </option>
              <option value="M5--Stalingrad">Stalingrad </option>
              <option value="M5--Gare du Nord">Gare du Nord  </option>
              <option value="M5--Gare de l'Est">Gare de l'Est </option>
              <option value="M5--Jacques Bonsergent">Jacques Bonsergent</option>
              <option value="M5--République">République </option>
              <option value="M5--Oberkampf">Oberkampf </option>
              <option value="M5--Richard-Lenoir">Richard-Lenoir</option>
              <option value="M5--Bréguet — Sabin">Bréguet — Sabin</option>
              <option value="M5--Bastille">Bastille </option>
              <option value="M5--Quai de la Rapée">Quai de la Rapée</option>
              <option value="M5--Gare d'Austerlitz">Gare d'Austerlitz  </option>
              <option value="M5--Saint-Marcel">Saint-Marcel</option>
              <option value="M5--Campo Formio">Campo Formio</option>
              <option value="M5--Place d'Italie">Place d'Italie</option>
            </optgroup>

            <optgroup label="Ligne 6">
              <option value="M6--Charles de Gaulle — Étoile">Charles de Gaulle — Étoile  </option>
              <option value="M6--Kléber">Kléber</option>
              <option value="M6--Boissière">Boissière</option>
              <option value="M6--Trocadéro">Trocadéro </option>
              <option value="M6--Passy">Passy</option>
              <option value="M6--Bir-Hakeim">Bir-Hakeim</option>
              <option value="M6--Dupleix">Dupleix</option>
              <option value="M6--La Motte-Picquet — Grenelle">La Motte-Picquet — Grenelle </option>
              <option value="M6--Cambronne">Cambronne</option>
              <option value="M6--Sèvres — Lecourbe">Sèvres — Lecourbe</option>
              <option value="M6--Pasteur">Pasteur </option>
              <option value="M6--Montparnasse — Bienvenüe">Montparnasse — Bienvenüe </option>
              <option value="M6--Edgar Quinet">Edgar Quinet</option>
              <option value="M6--Raspail">Raspail </option>
              <option value="M6--Denfert-Rochereau">Denfert-Rochereau  </option>
              <option value="M6--Saint-Jacques">Saint-Jacques</option>
              <option value="M6--Glacière">Glacière</option>
              <option value="M6--Corvisart">Corvisart</option>
              <option value="M6--Place d'Italie">Place d'Italie </option>
              <option value="M6--Nationale">Nationale</option>
              <option value="M6--Chevaleret">Chevaleret</option>
              <option value="M6--Quai de la Gare">Quai de la Gare</option>
              <option value="M6--Bercy">Bercy </option>
              <option value="M6--Dugommier">Dugommier</option>
              <option value="M6--Daumesnil">Daumesnil </option>
              <option value="M6--Bel-Air">Bel-Air</option>
              <option value="M6--Picpus">Picpus</option>
              <option value="M6--Nation">Nation</option>
            </optgroup>

            <optgrouplabel="Ligne 7">
              <option value="M7--La Courneuve — 8 Mai 1945">La Courneuve — 8 Mai 1945</option>
              <option value="M7--Fort d'Auberviliers">Fort d'Auberviliers</option>
              <option value="M7--Aubervilliers — Pantin — Quatre Chemins">Aubervilliers — Pantin — Quatre Chemins</option>
              <option value="M7--Porte de la Villette">Porte de la Villette</option>
              <option value="M7--Corentin Cariou">Corentin Cariou</option>
              <option value="M7--Crimée">Crimée</option>
              <option value="M7--Riquet">Riquet</option>
              <option value="M7--Stalingrad">Stalingrad</option>
              <option value="M7--Louis Blanc">Louis Blanc</option>
              <option value="M7--Château-Landon">Château-Landon</option>
              <option value="M7--Gare de l'Est">Gare de l'Est</option>
              <option value="M7--Poissonnière">Poissonnière</option>
              <option value="M7--Cadet">Cadet</option>
              <option value="M7--Le Peletier">Le Peletier</option>
              <option value="M7--Chaussée d'Antin — La Fayette">Chaussée d'Antin — La Fayette</option>
              <option value="M7--Opéra ">Opéra </option>
              <option value="M7--Pyramides">Pyramides</option>
              <option value="M7--Palais Royal — Musée du Louvre">Palais Royal — Musée du Louvre</option>
              <option value="M7--Pont Neuf">Pont Neuf</option>
              <option value="M7--Châtelet ">Châtelet </option>
              <option value="M7--Pont Marie">Pont Marie</option>
              <option value="M7--Sully — Morland">Sully — Morland</option>
              <option value="M7--Jussieu">Jussieu</option>
              <option value="M7--Place Monge">Place Monge</option>
              <option value="M7--Censier Daubenton">Censier Daubenton</option>
              <option value="M7--Les Gobelins">Les Gobelins</option>
              <option value="M7--Place d'Italie">Place d'Italie</option>
              <option value="M7--Tolbiac">Tolbiac</option>
              <option value="M7--Maison Blanche">Maison Blanche</option>
              <option value="M7--Porte d'Italie">Porte d'Italie</option>
              <option value="M7--Porte de Choisy">Porte de Choisy</option>
              <option value="M7--Porte d'Ivry">Porte d'Ivry</option>
              <option value="M7--Pierre et Marie Curie">Pierre et Marie Curie</option>
              <option value="M7--Mairie d'Ivry">Mairie d'Ivry</option>
              <option value="M7--Le Kremlin-Bicêtre">Le Kremlin-Bicêtre</option>
              <option value="M7--Villejuif — Léo Lagrange">Villejuif — Léo Lagrange</option>
              <option value="M7--Villejuif — Paul Vaillant-Couturier">Villejuif — Paul Vaillant-Couturier</option>
              <option value="M7--Villejuif — Louis Aragon">Villejuif — Louis Aragon</option>
            </optgroup>

            <optgroup label="Ligne 7 Bis">
              <option value="M7B--Louis Blanc">Louis Blanc</option>
              <option value="M7B--Jaurès">Jaurès</option>
              <option value="M7B--Bolivar">Bolivar</option>
              <option value="M7B--Buttes Chaumont">Buttes Chaumont</option>
              <option value="M7B--Botzaris ">Botzaris</option>
              <option value="M7B--Danube">Danube</option>
              <option value="M7B--Place des Fêtes">Place des Fêtes</option>
              <option value="M7B--Pré Saint-Gervais">Pré Saint-Gervais</option>
            </optgroup>

            <optgroup label="ligne 8">
              <option value="M8--Balard">Balard</option>
              <option value="M8--Lourmel">Lourmel</option>
              <option value="M8--Boucicaut">Boucicaut</option>
              <option value="M8--Félix Faure">Félix Faure</option>
              <option value="M8--Commerce">Commerce</option>
              <option value="M8--La Motte-Picquet — Grenelle">La Motte-Picquet — Grenelle</option>
              <option value="M8--École Militaire">École Militaire</option>
              <option value="M8--La Tour-Maubourg">La Tour-Maubourg</option>
              <option value="M8--Invalides">Invalides</option>
              <option value="M8--Concorde">Concorde</option>
              <option value="M8--Madeleine">Madeleine</option>
              <option value="M8--Opéra">Opéra</option>
              <option value="M8--Richelieu — Drouot">Richelieu — Drouot</option>
              <option value="M8--Grands Boulevards">Grands Boulevards</option>
              <option value="M8--Bonne Nouvelle">Bonne Nouvelle</option>
              <option value="M8--Strasbourg — Saint-Denis">Strasbourg — Saint-Denis</option>
              <option value="M8--République">République</option>
              <option value="M8--Filles du Calvaire">Filles du Calvaire</option>
              <option value="M8--Saint-Sébastien — Froissart">Saint-Sébastien — Froissart</option>
              <option value="M8--Chemin Vert">Chemin Vert</option>
              <option value="M8--Bastille">Bastille</option>
              <option value="M8--Ledru-Rollin">Ledru-Rollin</option>
              <option value="M8--Faidherbe — Chaligny">Faidherbe — Chaligny</option>
              <option value="M8--Reuilly — Diderot">Reuilly — Diderot</option>
              <option value="M8--Montgallet">Montgallet</option>
              <option value="M8--Daumesnil">Daumesnil</option>
              <option value="M8--Michel Bizot">Michel Bizot</option>
              <option value="M8--Porte Dorée">Porte Dorée</option>
              <option value="M8--Porte de Charenton">Porte de Charenton</option>
              <option value="M8--Liberté">Liberté</option>
              <option value="M8--Charenton — Écoles">Charenton — Écoles</option>
              <option value="M8--École Vétérinaire de Maisons–Alfort">École Vétérinaire de Maisons–Alfort</option>
              <option value="M8--Maisons-Alfort — Stade">Maisons-Alfort — Stade</option>
              <option value="M8--Maisons-Alfort — Les Juilliottes">Maisons-Alfort — Les Juilliottes</option>
              <option value="M8--Créteil — L'Échat">Créteil — L'Échat</option>
              <option value="M8--Créteil — Université">Créteil — Université</option>
              <option value="M8--Créteil — Préfecture">Créteil — Préfecture</option>
              <option value="M8--Pointe du Lac">Pointe du Lac</option>  
            </optgroup>

            <optgroup label="Ligne 9">
              <option value="M9--Pont de Sèvres">Pont de Sèvres</option>
              <option value="M9--Billancourt">Billancourt</option>
              <option value="M9--Marcel Sembat">Marcel Sembat</option>
              <option value="M9--Porte de Saint-Cloud">Porte de Saint-Cloud</option>
              <option value="M9--Exelmans">Exelmans</option>
              <option value="M9--Michel-Ange — Molitor"</option>
              <option value="M9--Michel-Ange — Auteuil"</option>
              <option value="M9--Jasmin">Jasmin</option>
              <option value="M9--Ranelagh">Ranelagh</option>
              <option value="M9--La Muette">La Muette</option>
              <option value="M9--Rue de la Pompe">Rue de la Pompe</option>
              <option value="M9--Trocadéro">Trocadéro</option>
              <option value="M9--Iéna">Iéna</option>
              <option value="M9--Alma — Marceau">Alma — Marceau</option>
              <option value="M9--Franklin D. Roosevelt">Franklin D. Roosevelt</option>
              <option value="M9--Saint-Philippe du Roule">Saint-Philippe du Roule</option>
              <option value="M9--Miromesnil">Miromesnil</option>
              <option value="M9--Saint-Augustin">Saint-Augustin</option>
              <option value="M9--Havre — Caumartin   ">Havre — Caumartin   </option>
              <option value="M9--Chaussée d'Antin — La Fayette">Chaussée d'Antin — La Fayette</option>
              <option value="M9--Richelieu — Drouot">Richelieu — Drouot</option>
              <option value="M9--Grands Boulevards">Grands Boulevards</option>
              <option value="M9--Bonne Nouvelle">Bonne Nouvelle</option>
              <option value="M9--Strasbourg — Saint-Denis">Strasbourg — Saint-Denis</option>
              <option value="M9--Saint Martin closed">Saint Martin  closed</option>
              <option value="M9--République">République</option>
              <option value="M9--Oberkampf">Oberkampf</option>
              <option value="M9--Saint-Ambroise">Saint-Ambroise</option>
              <option value="M9--Voltaire">Voltaire</option>
              <option value="M9--Charonne">Charonne</option>
              <option value="M9--Rue des Boulets">Rue des Boulets</option>
              <option value="M9--Nation  ">Nation  </option>
              <option value="M9--Buzenval">Buzenval</option>
              <option value="M9--Maraîchers">Maraîchers</option>
              <option value="M9--Porte de Montreuil">Porte de Montreuil</option>
              <option value="M9--Robespierre">Robespierre</option>
              <option value="M9--Croix de Chavaux">Croix de Chavaux</option>
              <option value="M9--Mairie de Montreuil">Mairie de Montreuil</option>
            </optgroup>

            <optgroup label="Ligne 10">
              <option value="M10--Boulogne — Pont de Saint-Cloud">Boulogne — Pont de Saint-Cloud</option>
              <option value="M10--Boulogne — Jean Jaurès">Boulogne — Jean Jaurès</option>
              <option value="M10--Porte d'Auteuil">Porte d'Auteuil</option>
              <option value="M10--Michel-Ange — Molitor">Michel-Ange — Molitor</option>
              <option value="M10--Michel-Ange — Auteuil">Michel-Ange — Auteuil</option>
              <option value="M10--Chardon Lagache">Chardon Lagache</option>
              <option value="M10--Église d'Auteuil">Église d'Auteuil</option>
              <option value="M10--Mirabeau">Mirabeau</option>
              <option value="M10--Javel — André Citroën">Javel — André Citroën</option>
              <option value="M10--Charles Michels">Charles Michels</option>
              <option value="M10--Avenue Émile Zola">Avenue Émile Zola</option>
              <option value="M10--La Motte-Picquet — Grenelle">La Motte-Picquet — Grenelle</option>
              <option value="M10--Ségur">Ségur</option>
              <option value="M10--Duroc">Duroc</option>
              <option value="M10--Vaneau">Vaneau</option>
              <option value="M10--Sèvres — Babylone">Sèvres — Babylone</option>
              <option value="M10--Mabillon">Mabillon</option>
              <option value="M10--Odéon">Odéon</option>
              <option value="M10--Cluny — La Sorbonne">Cluny — La Sorbonne</option>
              <option value="M10--Maubert — Mutualité">Maubert — Mutualité</option>
              <option value="M10--Cardinal Lemoine">Cardinal Lemoine</option>
              <option value="M10--Jussieu">Jussieu</option>
              <option value="M10--Gare d'Austerlitz">Gare d'Austerlitz</option>
              <option value="M10--Gare d'Austerlitz">Gare d'Austerlitz</option>
            </optgroup>

            <optgroup>
              <option value="M11--Mairie des Lilas">Mairie des Lilas</option>
              <option value="M11--Porte des Lilas">Porte des Lilas</option>
              <option value="M11--Télégraphe">Télégraphe</option>
              <option value="M11--Place des Fêtes">Place des Fêtes</option>
              <option value="M11--Jourdain">Jourdain</option>
              <option value="M11--Pyrénées">Pyrénées</option>
              <option value="M11--Belleville">Belleville</option>
              <option value="M11--Goncourt">Goncourt</option>
              <option value="M11--République">République</option>
              <option value="M11--Arts et Métiers">Arts et Métiers</option>
              <option value="M11--Rambuteau">Rambuteau</option>
              <option value="M11--Hôtel de Ville">Hôtel de Ville</option>
              <option value="M11--Victoria Depôt">Victoria Depôt</option>
              <option value="M11--Châtelet">Châtelet</option>
            </optgroup>

            <optgroup label="Ligne 12">
              <option value="M12--Front Populaire">Front Populaire</option>
              <option value="M12--Porte de la Chapelle">Porte de la Chapelle</option>
              <option value="M12--Marx Dormoy">Marx Dormoy</option>
              <option value="M12--Marcadet - Poissonniers">Marcadet - Poissonniers</option>
              <option value="M12--Jules Joffrin">Jules Joffrin</option>
              <option value="M12--Lamarck - Caulaincourt">Lamarck - Caulaincourt</option>
              <option value="M12--Abbesses">Abbesses</option>
              <option value="M12--Pigalle">Pigalle</option>
              <option value="M12--Saint-Georges">Saint-Georges</option>
              <option value="M12--Notre-Dame-de-Lorette">Notre-Dame-de-Lorette</option>
              <option value="M12--Trinité - d'Estienne d'Orves">Trinité - d'Estienne d'Orves</option>
              <option value="M12--Saint-Lazare">Saint-Lazare</option>
              <option value="M12--Madeleine">Madeleine</option>
              <option value="M12--Concorde">Concorde</option>
              <option value="M12--Assemblée nationale">Assemblée nationale</option>
              <option value="M12--Solférino">Solférino</option>
              <option value="M12--Rue du Bac">Rue du Bac</option>
              <option value="M12--Sèrves - Babylone">Sèrves - Babylone</option>
              <option value="M12--Rennes">Rennes</option>
              <option value="M12--Notre-Dame-des-Champs">Notre-Dame-des-Champs</option>
              <option value="M12--Montparnasse - Bienvenüe">Montparnasse - Bienvenüe</option>
              <option value="M12--Falguière">Falguière</option>
              <option value="M12--Pasteur">Pasteur</option>
              <option value="M12--Volontaires">Volontaires</option>
              <option value="M12--Vaugirard">Vaugirard</option>
              <option value="M12--Convention">Convention</option>
              <option value="M12--Porte de Versailles">Porte de Versailles</option>
              <option value="M12--Corentin Celton">Corentin Celton</option>
              <option value="M12--Mairie d'Issy">Mairie d'Issy</option>
            </optgroup>

            <optgroup label="ligne 13">
              <option value="M13--Châtillon - Monrouge">Châtillon - Monrouge</option>
              <option value="M13--Malakoff - Rue Étienne-Dolet">Malakoff - Rue Étienne-Dolet</option>
              <option value="M13--Malakoff - Plateau de Vanves">Malakoff - Plateau de Vanves</option>
              <option value="M13--Porte de Vanves">Porte de Vanves</option>
              <option value="M13--Plaisance">Plaisance</option>
              <option value="M13--Pernety">Pernety</option>
              <option value="M13--Gaîté">Gaîté</option>
              <option value="M13--Montparnasse - Bienvenüe">Montparnasse - Bienvenüe</option>
              <option value="M13--Duroc">Duroc</option>
              <option value="M13--Saint-François-Xavier">Saint-François-Xavier</option>
              <option value="M13--Varenne">Varenne</option>
              <option value="M13--Invalides">Invalides</option>
              <option value="M13--Champs-Élysées - Clemenceau">Champs-Élysées - Clemenceau</option>
              <option value="M13--Miromesnil">Miromesnil</option>
              <option value="M13--Saint-Lazare">Saint-Lazare</option>
              <option value="M13--Liège">Liège</option>
              <option value="M13--Place de Clichy">Place de Clichy</option>
              <option value="M13--La Fourche">La Fourche</option>
              <option value="M13--Guy Môquet">Guy Môquet</option>
              <option value="M13--Porte de Saint-Ouen">Porte de Saint-Ouen</option>
              <option value="M13--Garibaldi">Garibaldi</option>
              <option value="M13--Mairie de Saint-Ouen">Mairie de Saint-Ouen</option>        
              <option value="M13--Carrefour Pleyel">Carrefour Pleyel</option>
              <option value="M13--Saint-Denis - Porte de Paris">Saint-Denis - Porte de Paris</option>
              <option value="M13--Basilique de Saint-Denis">Basilique de Saint-Denis</option>
              <option value="M13--Saint-Denis - Université">Saint-Denis - Université</option>
              <option value="M13--Brochant">Brochant</option>
              <option value="M13--Porte de Clichy">Porte de Clichy</option>
              <option value="M13--Mairie de Clichy">Mairie de Clichy</option>
              <option value="M13--Gabriel Péri">Gabriel Péri</option>
              <option value="M13--Les Agnettes">Les Agnettes</option>
              <option value="M13--Les Courtilles">Les Courtilles</option>
            </select>

            <optgroup label="Ligne 14">
              <option value="M14--Saint-Lazare">Saint-Lazare</option>
              <option value="M14--Madeleine">Madeleine</option>
              <option value="M14--Pyramides">Pyramydes</option>
              <option value="M14--Châtelet">Châtelet</option>
              <option value="M14--Gare de Lyon">Gare de Lyon</option>
              <option value="M14--Bercy">Bercy</option>
              <option value="M14--Cour Saint-Émillion">Cour Saint-Émillion</option>
              <option value="M14--Bibliothèque François-Mitterrand">Bibliothèque François-Mitterrand</option>
              <option value="M14--Olympiades">Olympiades</option>        
            </optgroup>


          </select>
          <button type="submit" class="btn" style="margin-top:-22px;" >Validate</button>
        </form><!-- end #select-stops -->
      <div id="my-stops">
        
      </div>
    </div>



  </body>
</html>